In [23]:
import pandas as pd

In [24]:
cities_df = pd.read_csv("LongLat.csv")
cities_df = cities_df [["STATE_CODE", "ID", "CITY"]].rename(columns={"STATE_CODE":"State","CITY":"City", "ID":"City_ID"})
cities_df.head()   #state_code, id, city

  State  City_ID      City
0    AK        1      Adak
1    AK        2  Akiachak
2    AK        3     Akiak
3    AK        4    Akutan
4    AK        5  Alakanuk

In [25]:
df = pd.read_csv("cleaning3.csv")
df.head()

             Job_Title  ... State
0         Data Analyst  ...    NY
1                Other  ...    NY
2  Senior Data Analyst  ...    NY
3         Data Analyst  ...    NY
4                Other  ...    NY

[5 rows x 21 columns]

In [26]:
merge_df = df.merge (cities_df, on=["City", "State"]).drop(columns=["City", "State"])
merge_df.head()

             Job_Title  ... City_ID
0         Data Analyst  ...   18875
1                Other  ...   18875
2  Senior Data Analyst  ...   18875
3         Data Analyst  ...   18875
4                Other  ...   18875

[5 rows x 20 columns]

In [30]:
#pandas.DataFrame.to_csv
#pd.DataFrame.to_csv

In [31]:
#Create the output file(CSV).
#output_data_file="cleaning4.csv"
# Export the City_Data into a CSV.
#merge_df.to_csv(output_data_file,index=False)

In [36]:
merge_df.to_csv('cleaning4.csv') # relative position
merge_df.to_csv(r'C:\Users\mjrot\Desktop\cleaning4.csv')